*{
    box-sizing: border-box;
}

body {
    direction: rtl;
    width: 100%;
    background: #65c2f5;
    font-size: medium;
    color: #1b1a1a;
    margin: 0;
}

.txt {
    direction: rtl;
    margin: 1% 6% 6% 6%;
    padding: 0% 3% 3% 5%;
}

h1 {
	text-align:center;
     color: #1b1a1a;
    padding: 2% 2% 2% 2%;
    display: block;
    max-width: 1600px;
    width: 22%;
    margin: 18px auto;
}
